
body {
    padding: 0;
    margin: 0;
    background-color: #001;
    color: white;
    font-family: 'Orienta', sans-serif;
}

canvas {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
}

#ui_div {
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 20%;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
}

#ui_div p {
    font-size: 10pt;
}

.clock_display {
    font-size: 30pt;
    margin-top: 10px;
    z-index: 1;
    position: absolute;
    top: 30px;
    left: 30px;
    width: 200px;
    text-shadow: -1px 0 black,
                 1px 0 black,
                 0 1px black,
                 0 -1px black;
}

#clock_daypart {
    position: absolute;
    left: 110px;
}

#clock_time {
    position: absolute;
}

#ui_div a {
    color: #fcc;
}

label {
    font-weight: bold;
    width: 150px;
}

.shiftpos {
    position: absolute;
    right: 30%;
}

button, select {
    background-color: #333;
    border: 1px solid #555;
    color: white;
    border-radius: 1px;
}

option {
    background-color: #222;
}

button[disabled] {
    color: #666;
}

