
body {
    padding: 0;
    margin: 0;
    background-color: black;
    color: white;
}

canvas {
    position: absolute;
    left: 0;
    top: 0;
}

#ui_div {
    position: absolute;
    bottom: 0;
    right: 0;
}

